/*
 * Mobile-first!
 * 
 * There's an included JS patch to deal with old IE incompatibilties for media queries
 */

/*
 * Element styles
 */
html{
	
}
body{
	font-size:15px;
}
a,
a:link,
a:active,
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

p, ol, ul{
	
}
img{
	max-width:100%;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5{
	font-weight: normal;
}
h1{
	
}
h2{
	
}
h3{
	
}
h4{
	
}
h5{
	
}

/*
 * General purpose styles
 */
.width{
	padding:0 10px;
}


/*
 * Bigger screens second
 */
@media all and (min-width:45em){
	.width{
		max-width:960px;
		margin:0 auto;
		display:block;
	}
}